---
interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div>
  <div
    class="absolute w-3 h-3 bg-green-400 rounded-full mt-2 -start-1.5 bg-gradient-to-r from-green-400 to-green-500"
  >
  </div>
  <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{date}</time>
  <h3 class="text-lg font-semibold text-gray-900">
    {title}
  </h3>
  <h4 class="text-xl text-primary hover:opacity-80 mb-2">
    <a href={link} target="_blank">{company}</a>
  </h4>
  <p class="mb-4 text-base font-normal text-gray-500">
    {description}
  </p>
</div>
