---
import GithubIcon from '@/components/icons/GitHubIcon.astro';
import ArrowUpRight from '@/components/icons/ArrowUpRight.astro';

interface Props {
  name: string;
  description: string;
  icon: string;
  tags: Array<string>;
  url: string;
  githubUrl: string;
}

const { name, description, icon, tags, url, githubUrl } = Astro.props;
---

<div class="border rounded-md border-neutral-300 dark:border-neutral-400 px-3 py-4">
  <div class="flex flex-col space-y-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-2">
        {icon && <span class="size-6">{icon}</span>}
        <a
          class="group flex items-center gap-[6px] font-medium hover:underline underline-offset-[5px] decoration-dotted"
          href={url}
        >
          <span>{name}</span>
          {
            url && (
              <ArrowUpRight class="size-4 text-gray-500 opacity-50 group-hover:opacity-100 group-hover:translate-x-[1.5px] transition duration-200 dark:text-white" />
            )
          }
        </a>
      </div>
      {
        githubUrl && (
          <a href={githubUrl}>
            <GithubIcon class="size-3" />
          </a>
        )
      }
    </div>
    <p class="text-gray-500 text-sm dark:text-white">{description}</p>
    <div class="hidden md:flex space-x-2">
      {
        tags.map((tag) => (
          <span class="cursor-default rounded-md inline-flex border border-neutral-300 bg-neutral-200/50 px-2 py-1 font-mono text-xs font-medium text-neutral-600 dark:text-white dark:border-neutral-800 dark:bg-neutral-800/60">
            {tag}
          </span>
        ))
      }
    </div>
  </div>
</div>
